extends layout 

block content 
    h1= title 

    #form-container
        form(action="", method="post")
            .form-group 
                label(for="first_name") First Name 
                input(type="text", name="first_name", id="first_name", value=(user ? user.first_name : ""))  
            .form-group 
                label(for="last_name") Last Name 
                input(type="text", name="last_name", id="last_name", value=(user ? user.last_name : ""))  
            .form-group 
                label(for="username") Username 
                input(type="text", name="username", id="username", value=(user ? user.username : ""))  
            .form-group 
                label(for="password") Password 
                input(type="password", name="password", id="password")  
            .form-group 
                label(for="password_confirmation") Password Confirmation 
                input(type="password", name="password_confirmation", id="password_confirmation")
            .form-group 
                input(type="hidden", name="avatar", value="/images/Chrollo_Lucilfer.webp", id="avatar")
            .form-avatars 
                p Choose your avatar
                .avatars 
                    .avatar(class="selected")
                        img(src="/images/Chrollo_Lucilfer.webp", alt="avatar")
                    .avatar 
                        img(src="/images/Feitan_Portor.webp", alt="avatar")
                    .avatar 
                        img(src="/images/Bonolenov_Ndongo.webp", alt="avatar")
                    .avatar 
                        img(src="/images/Franklin_Bordeau.webp", alt="avatar")
                    .avatar 
                        img(src="/images/Illumi_Zoldyck.webp", alt="avatar")
                    .avatar 
                        img(src="/images/Kalluto_Zoldyck.webp", alt="avatar")
                    .avatar 
                        img(src="/images/Machi_Komacine.webp", alt="avatar")
                    .avatar 
                        img(src="/images/Nobunaga_Hazama.webp", alt="avatar")
                    .avatar 
                        img(src="/images/Phinks_Magcub.webp", alt="avatar")
                    .avatar 
                        img(src="/images/Shizuku_Murasaki.webp", alt="avatar")
            input(type="submit", value="Sign Up")
            
        p
            form(action="/login", method="post") 
                input(type="hidden", name="username", value="anonymous")
                input(type="hidden", name="password", value="anonymous")
                input(type="submit", value="Visitor Mode")
        p
                | Already have an account ? 
                a(href="/login") Login 
            
        
        if errors 
            ul 
                if exists == true
                    li Username already exists.
                each error in errors
                    li= error.msg

